.code-page{
    .text-zone{
        position: absolute;
        left: 35%;
        top: 20%;
        transform: translate(-50%);
        width: 50%;
        max-height: 90%;

        
    }
    .image{
        width: 500px;
        
        img{
            width: 450px;
            border-radius: 50px;
            
        }
       
        .flat-button{
            color: goldenrod;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: normal;
            letter-spacing: 4px;
            font-family: sans-serif;
            text-decoration: none;
            padding: 10px 18px;
            border: 1px solid goldenrod;
            margin-top: 25px;
            float: left;
            margin-right: 50px;
            animation: fadeAnimation 1s 1.8s back;
            white-space: nowrap;
    
            &:hover{
                background-color: goldenrod;
                color: #333;
            }
    
        }
    }
   
    h1{
        color: white;
        font-size: 50px;
        left: 50px;
    }
   
    
    
    
}
